<a href="https://colab.research.google.com/github/HoangShiya/HUET/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_pandas02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANDAS 02 – DATA FRAME**
---
---

Sử dụng các module cần thiết

In [2]:
import numpy as np
import pandas as pd

## **Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:**
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

In [5]:
sr_name = pd.Series(["Hoàng Văn 0", "Hoàng Văn 1", "Hoàng Văn 2", "Hoàng Văn 3", "Hoàng Văn 4", "Hoàng Văn 5", "Hoàng Văn 6", "Hoàng Văn 7", "Hoàng Văn 8", "Hoàng Văn 9"])
sr_birth= pd.Series(["17/09/2003", "01/02/2003", "11/22/2003", "01/03/2003", "01/12/2003", "12/01/2003", "01/02/2003", "11/22/2003", "01/03/2003", "01/12/2003"])
sr_pricePerHour  = pd.Series([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
sr_time = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr_salary = pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [6]:
df = pd.DataFrame({"Họ và tên":sr_name, "Ngày sinh":sr_birth, "Tiền công/giờ":sr_pricePerHour, "Số giờ công": sr_time, "Thực lĩnh":sr_salary})

df["Thực lĩnh"]= df["Số giờ công"] * df["Tiền công/giờ"]

# Xuất data frame ra màn hình
df

     Họ và tên   Ngày sinh  Tiền công/giờ  Số giờ công  Thực lĩnh
0  Hoàng Văn 0  17/09/2003            100            1        100
1  Hoàng Văn 1  01/02/2003            200            2        400
2  Hoàng Văn 2  11/22/2003            300            3        900
3  Hoàng Văn 3  01/03/2003            400            4       1600
4  Hoàng Văn 4  01/12/2003            500            5       2500
5  Hoàng Văn 5  12/01/2003            600            6       3600
6  Hoàng Văn 6  01/02/2003            700            7       4900
7  Hoàng Văn 7  11/22/2003            800            8       6400
8  Hoàng Văn 8  01/03/2003            900            9       8100
9  Hoàng Văn 9  01/12/2003           1000           10      10000

## **Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:**
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe  này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình; 
- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng  với key. Xuất kết quả ra màn hình; 
- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn  hình; 
- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo

In [18]:
sr_name = ["Hoàng Văn 0", "Hoàng Văn 1", "Hoàng Văn 2", "Hoàng Văn 3", "Hoàng Văn 4", "Hoàng Văn 5", "Hoàng Văn 6", "Hoàng Văn 7", "Hoàng Văn 8", "Hoàng Văn 9"]
sr_age = [18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
sr_gender = ["nữ", "nam", "nữ", "nam", "nữ", "nam", "nữ", "nam", "nữ", "nam"]

# Khởi tạo dataframe lưu trữ các giá trị trên
df2 = pd.DataFrame(np.array([sr_name, sr_age, sr_gender]).T,columns =["Họ và tên","Tuổi","Giới tính"])

# Xuất kết quả ra màn hình
df2

     Họ và tên Tuổi Giới tính
0  Hoàng Văn 0   18        nữ
1  Hoàng Văn 1   19       nam
2  Hoàng Văn 2   20        nữ
3  Hoàng Văn 3   21       nam
4  Hoàng Văn 4   22        nữ
5  Hoàng Văn 5   23       nam
6  Hoàng Văn 6   24        nữ
7  Hoàng Văn 7   25       nam
8  Hoàng Văn 8   26        nữ
9  Hoàng Văn 9   27       nam

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [8]:
sr_name = ["Lê Văn 1", "Lê Văn 2", "Lê Văn 3", "Lê Văn 4", "Lê Văn 5", "Lê Văn 6", "Lê Văn 7", "Lê Văn 8", "Lê Văn 9", "Lê Văn 10"]
sr_age = [18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
sr_gender = ["nữ","nam","nữ","nam","nữ","nam","nữ","nam","nữ","nam"]

# Khởi tạo dataframe lưu trữ các giá trị trên
df3 = pd.DataFrame(np.array([sr_name, sr_age, sr_gender]).T,columns =["Họ và tên","Tuổi","Giới tính"])

# Xuất kết quả ra màn hình
df3

   Họ và tên Tuổi Giới tính
0   Lê Văn 1   18        nữ
1   Lê Văn 2   19       nam
2   Lê Văn 3   20        nữ
3   Lê Văn 4   21       nam
4   Lê Văn 5   22        nữ
5   Lê Văn 6   23       nam
6   Lê Văn 7   24        nữ
7   Lê Văn 8   25       nam
8   Lê Văn 9   26        nữ
9  Lê Văn 10   27       nam

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [10]:
df4 = pd.DataFrame([{"Họ và tên":"Hoàng văn 0","Tuổi":18,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn A","Tuổi":19 ,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn B","Tuổi":20,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn C","Tuổi":21,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn D","Tuổi":22,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn E","Tuổi":23,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn F","Tuổi":24,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn G","Tuổi":18,"Giới tính":"nam "},{"Họ và tên":"Hoàng Văn H","Tuổi":25,"Giới tính":"nam"},{"Họ và tên":"Hoàng Văn I","Tuổi":26 ,"Giới tính":"nam"}])
df4

     Họ và tên  Tuổi Giới tính
0  Hoàng văn 0    18        nữ
1  Hoàng Văn A    19        nữ
2  Hoàng Văn B    20        nữ
3  Hoàng Văn C    21        nữ
4  Hoàng Văn D    22        nữ
5  Hoàng Văn E    23        nữ
6  Hoàng Văn F    24        nữ
7  Hoàng Văn G    18      nam
8  Hoàng Văn H    25       nam
9  Hoàng Văn I    26       nam

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [11]:
df5 = pd.DataFrame(zip(sr_name, sr_age, sr_gender), columns = ["Họ và tên", "Tuổi", "Giới tính"])
df5

   Họ và tên  Tuổi Giới tính
0   Lê Văn 1    18        nữ
1   Lê Văn 2    19       nam
2   Lê Văn 3    20        nữ
3   Lê Văn 4    21       nam
4   Lê Văn 5    22        nữ
5   Lê Văn 6    23       nam
6   Lê Văn 7    24        nữ
7   Lê Văn 8    25       nam
8   Lê Văn 9    26        nữ
9  Lê Văn 10    27       nam